<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autor</title>
</head>
<body>
    <h1>Sobre o Autor</h1>
    <p><strong>Nome:</strong> Thales Vasconcelos</p>
    <h2>Formações Acadêmicas</h2>
    <ul>
        <li>Curso Informática para internet - Instituição IFCE (Cursando)</li>
    </ul>
    <h2>Experiências Profissionais</h2>
    <ul>
        <li>Sem Experiências proficionais, apenas escolares</li>
    </ul>
    <a href="/index">Voltar</a>
</body>
</html>
            